<script language="javascript">
    $(document).ready(function () {
        $('#catModal').modal();
    });

</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">New Notifications</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            {% if notifications|length == 0 %}
            <h3>No Notifications in this Category yet!</h3>
            {% else %}
            <table class="table">
                <tr><th>Message</th><th>Type</th><th>Date Sent</th></tr>
                {% for notification in notifications %}
                <tr><td>{{ notification.message }}</td>
                    <td>{% if notification.type == constant('MISSING_WORK', notification) %}<span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
                        {% elseif notification.type == constant('GOOD_WORK', notification) %}<span class="glyphicon glyphicon-star text-success"></span>
                        {% elseif notification.type == constant('CHECK_FEEDBACK', notification) %}<span class="glyphicon glyphicon-pencil text-warning"></span>
                        {% else %} <span class="glyphicon glyphicon-certificate alert-info"></span>
                        {% endif %}
                    </td>
                    <td>{{ notification.dateCreated|date('m-d-Y G:i') }}</td></tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
</div>