<script language="javascript">
    $(document).ready(function () {
        $('#submitModal').modal();
    });

</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Quick Points</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            {{ form_start(form, {'action':path('add_quickpoints', {'dashboardid':dashboardid}) } ) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>