@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body{
    font-family: 'Roboto', sans-serif;
}

.scoreLabel{
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.category-info h3{
    margin-top: 5px;
}

h1 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

#dash-head {
    margin-top: 0;
    margin-bottom: 40px;
    border-bottom: solid 1px black;
}

.progressIndicator {
    height: 20px;
    border-right: 5px solid white;
}

.progressCaption {
    position: relative;
    left: -50px;
    width: 100px;
    text-align: center;
}

.notify {
    width: 50%;
}

.pointBox h4 {
    width: 15%;
    float: left;
    margin-top: 0;
}

.pointBox .progress {
    width: 85%;
    float: left;
}

#progress {
    width: 90%;
    margin: 0 auto;
}

.notification-icon {
    position: relative;
    font-size: 1.25em;
    margin: 0 2.5px;
}

.notification-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 3px;
    min-width: 5px;
    font-size: .5em;
    font-weight: bold;
}

.notification-section, .notification-section a {
    color: #A4C8D9;
}

.dashicon {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

#mainStudentButtons{
    font-size: 4em;
    margin-top: 5px;
}


