.scoreLabel{
    font-size: 3em;
    font-weight: bold;
}

.category-info h3{
    margin-top: 5px;
}

#dash-head {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: solid 1px black;
}

.myprogress {
    height: 20px;
    background-color: #F07575;
    background-image: linear-gradient(to right, red, blue, green);

}

.progressIndicator {
    height: 20px;
    border-right: 5px solid white;
}

.progressCaption {
    position: relative;
    left: -50px;
    width: 100px;
    text-align: center;
}

.notify {
    width: 50%;
}

.pointBox h4 {
    width: 15%;
    float: left;
    margin-top: 0;
}

.pointBox .progress {
    width: 85%;
    float: left;
}

.notification-icon {
    position: relative;
    font-size: 1.25em;
    margin: 0 2.5px;
}

.notification-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 3px;
    min-width: 5px;
    font-size: .5em;
    font-weight: bold;
}

.notification-section, .notification-section a {
    color: #A4C8D9;
}



