<script language="javascript">
    $(document).ready(function () {
        $('#submitModal').modal();
    });
</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">New Submission</h4>
        </div>
        <div class="modal-body">
            {{ form_start(form, {'action':path('submission_new', {'categoryid':category.id})}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
</div>

